
@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background-image: url(../images/printer-background.jpg);
    }
    main{
        width: 90vw;
        border: 2px solid black;
    }

    main::after{
        content: "Essa impressão foi feita através do site www.cursoemvideo.com";
        text-decoration: overline;
    }

    main h1{
        text-shadow: none;
        color: #000;
        
    }

    img#phone{display:none;}
    img#tablet{display:none;}
    img#desktop{display:none;}
    img#print{display:block;}
    img#tv{display:none;}
}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../images/tablet-background.jpg);
    }
    img#phone{display:none;}
    img#tablet{display:block;}
    img#desktop{display:none;}
    img#print{display:none;}
    img#tv{display:none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url(../images/desktop-background.jpg);
    }

    img#phone{display:none;}
    img#tablet{display:none;}
    img#desktop{display:block;}
    img#print{display:none;}
    img#tv{display:none;}
}

@media screen and (min-width: 1220px){
    body{
        background-image: url(../images/tv-background.jpg);
    }

    main{
        width: 700px;
    }
    
    img#phone{display:none;}
    img#tablet{display:none;}
    img#desktop{display:none;}
    img#print{display:none;}
    img#tv{display:block;}
}